            <section class="home bd-grid"  >
                <div class="home__data">
                    <h1 class="home__title">Hola,<br>soy <span class="home__title-color">Alejandro</span><br> Diseñador web</h1>
                    <a href="#" class="button">Contacto</a>
                </div>
                <div class="home__img">
                    <%= image_tag ('alejandro.jpg'), class:'home__blob-img'%>
                </div>
            </section>
